<a href="https://colab.research.google.com/github/EmiliaGo/CompYProg2022G1157/blob/main/Fundamentos2_Cyp_1157_11_11_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tipos de datos estructurados de python
1. Lista
2. Tuplas
3. Diccionarios
4. Conjuntos(opcional)

# Listas
- Tipo de dato que agrupa variables o valores 
- Estructura secuencial (undexados empezando por 0)
- Se declara de dos formas
  - usando [ ]
  - usando list ()
  - Usando GENERADOR
- Puede contener tipos de datos diversos(en otros lenguajes de prog. no es posible de forma directa)
- Los elemntos internos se seleccionan [ ]
- Soporta slicing
- Son mutables (pueden ser modificados)
- Al ser un clase contiene muchos metodos utiles
- GENERADORES [var for x in range()]

In [ ]:
numeros = [10,5,2,3,1]
print(numeros)

numeros2 = list()
numeros2.append(10)
#Agrega datos
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
print(numeros2)


numeros[2] = 20
print(numeros)
numeros[4] = 33
print(numeros)
numeros[-1] = 33
print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]
[10, 5, 20, 3, 33]

In [ ]:
# Tipos diversos

cosas =[12,2,True,"José",1.57,["pera","kiwi","uva"]]
print(cosas)
print(cosas[1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1])
print(cosas[3][1:3])
cosas[3] = cosas[3].upper()
print(cosas)

[12, 2, True, 'José', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSÉ', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numero=[1,2,3,4,5,6,7,8,9,10,11]
print(numeros)

#slicing
#1.-4 al 8
print(numero[3:8])

#2.- [9,10]
print(numero[8:10])
print(numero[-3:-1])

#3.- imprimir la lista en orden inverso
print(numero[::-1])

[10, 5, 20, 3, 33]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#crear una lista con un generador

numeros = [x for x in range(101)]
print(numeros)
numeros = [x*3 for x in range(101)]
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

# Funcion range ()
-tiene los mismos componentes que slicing 

ini,stop,incremento

range(1,101,1)

In [ ]:
numeros = [x for x in range(50,101)]
print(numeros)
numeros = [x for x in range(50,101,2)]
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

# Metodos disponibles de una lista

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4,1,15,8,22,34,50,15]
print(numeros)
numeros.append(99)
#.append agrega
print(numeros)

#numeros.clear()
#Alternativa 
#numeros=[]
print(numeros)

frutas = ["uvas","kiwis","manzana"]
copia = frutas
print(frutas)
print(copia)
frutas.append("Naranjas")
print(frutas)
print(copia)

colores =["rojo","azul","blanco"]
copia2 = colores.copy()
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

print("Numero de veces que aprece el 15",numeros.count(15))

#extend
nombres = ["jose","pedro","karina"]
otrosnombres = ["josue","diana","dalia"]
nombres= nombres + otrosnombres
print(nombres)
print(otrosnombres)

#lo mismo pero con extend
otrosnombres.extend(["Jesus","Maria","jose"])
print(otrosnombres)
print("Jesus esta en la posicion:", otrosnombres.index("Jesus"))
otrosnombres.insert(4,"Espiritu santo")
print(otrosnombres)

#pop
resultado = otrosnombres.pop()
print(otrosnombres)
print(resultado)

[4, 1, 15, 8, 22, 34, 50, 15]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
[4, 1, 15, 8, 22, 34, 50, 15, 99]
['uvas', 'kiwis', 'manzana']
['uvas', 'kiwis', 'manzana']
['uvas', 'kiwis', 'manzana', 'Naranjas']
['uvas', 'kiwis', 'manzana', 'Naranjas']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco']
['rojo', 'azul', 'blanco', 'verde']
['rojo', 'azul', 'blanco']
Numero de veces que aprece el 15 2
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'Jesus', 'Maria', 'jose']
Jesus esta en la posicion: 3
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'Maria', 'jose']
['josue', 'diana', 'dalia', 'Jesus', 'Espiritu santo', 'Maria']
jose

# Tuplas
### Caracteristicas
- Datos agrupados
- se declara
  - ()
  - tuple()
- Estructura secuencial, indexada a partie de 0
- pueden tener 0 a n elemntos
- NO SON MUTABLES (no se pueden eliminar o/y cambiar)
- Son buenas para alamacenar informacion de consulta
- Pueden almacenar info. de diferentes tipos de datos
- Pueden estar anidadas
- Tienen métodos útiles

In [ ]:
info = ("juan23","dios123","123.232.1.12")
print( info )
print(info[1])
#info[1]= "patito23"
#no es mutable

numero= (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numero)
print(numero[5:11])

cosas=(info , numero)
print(cosas)
print(cosas[1][5:11:1])
print(cosas[0][2][4:7])

('juan23', 'dios123', '123.232.1.12')
dios123
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios123', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
(5, 6, 7, 8, 9, 10)
232

#Metodos de las tuplas
###Son los mismos de la lista pero los que no involucren mutabilidad.

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Diccionarios
### Caracteristicas de los diccionarios
- Agrupan datos pero de forma no lineal.
- Se declaran con:
  - {}
  - dict()
- Formado por pares del tipo llave:valor, donde: 
  - llaves es de tipo string (siempre)
  - valor puede ser de cualquier tipo de dato, incluyendo los dicionarios
- Se selccionan con la llave de la forma: ["id_llave"] 
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = {"nombre":"Jose"}
print(alumno)
print(alumno["nombre"])
alumno = {"nombre":"Jose","nc":"2129229292","edad":18}
print("Edad del alumno =", alumno["edad"])
print(alumno["nombre"].upper())
print(alumno)

print("alumno 2: ")
alumno2 = dict() #{ }
alumno2["nombre"]="jose"
print(alumno2)
alumno2["nc"]="2129229292"
alumno2["edad"]=18
print(alumno2)
alumno2["edad"]= alumno2["edad"] + 1
print(alumno2)

{'nombre': 'Jose'}
Jose
Edad del alumno = 18
JOSE
{'nombre': 'Jose', 'nc': '2129229292', 'edad': 18}
alumno 2:
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': '2129229292', 'edad': 18}
{'nombre': 'jose', 'nc': '2129229292', 'edad': 19}

In [11]:
cliente= {"id":"CT2121",
           "nombre":"José Pedroza Rosales",
           "telefono":"casa=554456565 cel=0445567767"}
print(cliente)

cliente= {"id":"CT2121",
           "nombre": {
               "nombres": ["José","Eduardo"],
               "paterno":"Pedroza",
               "materno":"Rosales"
           },
            "telefonos" : {
                "casa" : "55-6632-4234",
                "trabajo":"55-443-3232" ,
                "celular":"044-55-234234"
            } ,
           "productos":{
               "ahorros":{"numero_cuenta":"7788","ahorro":2500.5},
               "t_credito": [
                            {"tipo":"debito","saldo":100000.5},
                            {"tipo":"credito preferente","limite":250000.5},
                            {"tipo":"lite","limite":15000.5}
               ]
           },
           "direccion":{
               "calle":"Av.central",
               "numero":1245,
               "colonia":"impulsora",
               "delagacion":"neza",
               "estado":{
                   "clave":15,
                   "nombre_corto":"EdoMex",
                   "nombre":"Estado de Mexico"
           }
           }   }

#solicita numero de casa
print(cliente["telefonos"]["casa"])

#imprimir cuanto tine de ahorro
print(cliente["productos"]["ahorros"]["ahorro"])

#limite de credito de la tarjeta lite
print(cliente["productos"]["t_credito"][2]["limite"])

#estado donde vive el cliente en mayusculas
print(cliente["direccion"]["estado"]["nombre"].upper())
cliente["productos"]["ahorros"]["ahorro"] -= 1500.0
print(cliente["productos"])

{'id': 'CT2121', 'nombre': 'José Pedroza Rosales', 'telefono': 'casa=554456565 cel=0445567767'}
55-6632-4234
2500.5
15000.5
ESTADO DE MEXICO
{'ahorros': {'numero_cuenta': '7788', 'ahorro': 1000.5}, 't_credito': [{'tipo': 'debito', 'saldo': 100000.5}, {'tipo': 'credito preferente', 'limite': 250000.5}, {'tipo': 'lite', 'limite': 15000.5}]}

#Estructuras de control de programación
Se puede crear cualquier tipo de algorimo empleando solamente tres tipos de esctrucuras de control:
1. Secuancia:
  - La representacion de la memoria de programacion (arquitectura Vonn Newman)
2. Selección
  - Es la estructura de control que decide si un bloque de programa se ejecuta o no se ejecuta. Tambien permite seleccionar ejecutarun bloque entre un conjunto de opcciones
  En resumen tenemos: seleccion simple, seleccion con bifurcacion y seleccion multiple.
3. Repetición
  - este tipo de estructura nos permite automatizar la ejecución repetitiva de código mientras ciertas condiciones se cumplan, tenemos 3 varianetes de esta estructuras en todos los leng. de programacion.
    - Desde...hasta(estructura for)
    - haz mientras (estructura while)
    - haz y luego validaz mientras (estructura Do-While)

# Selccion simple
- documentar

la estructura if

```
if<CONDICION> :
  <cuerpo del IF>
```

**NOTA** Para establecer el cuerpo de una estrucura de control en python se usan los tabuladores a la izq.

En otros lenguajes de programacion como java, c, c++... se usan las llaves

```
int edad=0;
printf("Dame tu edad ");
scanf("%i",edad);
if (edad >=18) {
  printf("ERES MAYOR DE EDAD");
}
printf("Fin del programa")
```

In [22]:
edad = int(input("Dame tu edad "))
print(f"tecleaste {edad} años")
if edad >=18 :
  print("ERES MAYOR DE EDAD")
  print("algo")
  print("algo más")
print("Fin del programa")

Dame tu edad 18
tecleaste 18 años
ERES MAYOR DE EDAD
algo
algo más
Fin del programa

In [18]:
CAL = float(input("Dame tu calificación:"))
if CAL > 8 :
  print("Aprobado")

Dame tu calificación:8.75
Aprobado

In [21]:
SUE = float(input("Escriba su sueldo:"))
AUM=0
NSUE=0
if SUE < 1000 :
  AUM=SUE*.15
  NSUE=SUE+AUM
  print(NSUE)

Escriba su sueldo:937.80
1078.47